FM/Config/XML/FMBrasil/nfeProc.dtd

<!ELEMENT nfeProc (NFe,protNFe)>
<!ATTLIST nfeProc xmlns CDATA #REQUIRED
xmlns:ds CDATA #REQUIRED
xmlns:xsi CDATA #IMPLIED
xsi:noNamespaceSchemaLocation CDATA #IMPLIED
xsi:schemaLocation CDATA #IMPLIED
versao CDATA #REQUIRED>
<!ELEMENT NFe (infNFe,infNFeSupl?,ds:Signature)>
<!ELEMENT infNFe (ide,emit,avulsa?,dest?,retirada?,entrega?,autXML*,det+,total,transp,cobr?,pag,infAdic?,exporta?,compra?,cana?)>
<!ATTLIST infNFe versao CDATA #REQUIRED
Id CDATA #REQUIRED>
<!ELEMENT ide (cUF,cNF,natOp,mod,serie,nNF,dhEmi,dhSaiEnt?,tpNF,idDest,cMunFG,tpImp,tpEmis,cDV,tpAmb,finNFe,indFinal,indPres,procEmi,verProc,(dhCont,xJust)?,NFref*)>
<!ELEMENT cNF (#PCDATA)>
<!ELEMENT natOp (#PCDATA)>
<!ELEMENT dhEmi (#PCDATA)>
<!ELEMENT dhSaiEnt (#PCDATA)>
<!ELEMENT tpNF (#PCDATA)>
<!ELEMENT idDest (#PCDATA)>
<!ELEMENT tpImp (#PCDATA)>
<!ELEMENT tpEmis (#PCDATA)>
<!ELEMENT cDV (#PCDATA)>
<!ELEMENT finNFe (#PCDATA)>
<!ELEMENT indFinal (#PCDATA)>
<!ELEMENT indPres (#PCDATA)>
<!ELEMENT procEmi (#PCDATA)>
<!ELEMENT verProc (#PCDATA)>
<!ELEMENT dhCont (#PCDATA)>
<!ELEMENT xJust (#PCDATA)>
<!ELEMENT NFref ((refNFe|refNF|refNFP|refCTe|refECF))>
<!ELEMENT refNFe (#PCDATA)>
<!ELEMENT refNF (cUF,AAMM,CNPJ,mod,serie,nNF)>
<!ELEMENT CNPJ (#PCDATA)>
<!ELEMENT refNFP (cUF,AAMM,(CNPJ|CPF),IE,mod,serie,nNF)>
<!ELEMENT cUF (#PCDATA)>
<!ELEMENT AAMM (#PCDATA)>
<!ELEMENT serie (#PCDATA)>
<!ELEMENT nNF (#PCDATA)>
<!ELEMENT refCTe (#PCDATA)>
<!ELEMENT refECF (mod,nECF,nCOO)>
<!ELEMENT mod (#PCDATA)>
<!ELEMENT nECF (#PCDATA)>
<!ELEMENT nCOO (#PCDATA)>
<!ELEMENT emit ((CNPJ|CPF),xNome,xFant?,enderEmit,IE,IEST?,(IM,CNAE?)?,CRT)>
<!ELEMENT xFant (#PCDATA)>
<!ELEMENT enderEmit (xLgr,nro,xCpl?,xBairro,cMun,xMun,UF,CEP,cPais?,xPais?,fone?)>
<!ELEMENT IE (#PCDATA)>
<!ELEMENT IEST (#PCDATA)>
<!ELEMENT CNAE (#PCDATA)>
<!ELEMENT CRT (#PCDATA)>
<!ELEMENT avulsa (CNPJ,xOrgao,matr,xAgente,fone?,UF,nDAR?,dEmi?,vDAR?,repEmi,dPag?)>
<!ELEMENT xOrgao (#PCDATA)>
<!ELEMENT matr (#PCDATA)>
<!ELEMENT xAgente (#PCDATA)>
<!ELEMENT nDAR (#PCDATA)>
<!ELEMENT dEmi (#PCDATA)>
<!ELEMENT vDAR (#PCDATA)>
<!ELEMENT repEmi (#PCDATA)>
<!ELEMENT dPag (#PCDATA)>
<!ELEMENT dest ((CNPJ|CPF|idEstrangeiro),xNome?,enderDest?,indIEDest,IE?,ISUF?,IM?,email?)>
<!ELEMENT idEstrangeiro (#PCDATA)>
<!ELEMENT enderDest (xLgr,nro,xCpl?,xBairro,cMun,xMun,UF,CEP?,cPais?,xPais?,fone?)>
<!ELEMENT UF (#PCDATA)>
<!ELEMENT CEP (#PCDATA)>
<!ELEMENT cPais (#PCDATA)>
<!ELEMENT xPais (#PCDATA)>
<!ELEMENT fone (#PCDATA)>
<!ELEMENT indIEDest (#PCDATA)>
<!ELEMENT ISUF (#PCDATA)>
<!ELEMENT IM (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT retirada ((CNPJ|CPF),xLgr,nro,xCpl?,xBairro,cMun,xMun,UF)>
<!ELEMENT entrega ((CNPJ|CPF),xLgr,nro,xCpl?,xBairro,cMun,xMun,UF)>
<!ELEMENT xLgr (#PCDATA)>
<!ELEMENT nro (#PCDATA)>
<!ELEMENT xCpl (#PCDATA)>
<!ELEMENT xBairro (#PCDATA)>
<!ELEMENT cMun (#PCDATA)>
<!ELEMENT autXML ((CNPJ|CPF))>
<!ELEMENT det (prod,imposto,impostoDevol?,infAdProd?)>
<!ATTLIST det nItem CDATA #REQUIRED>
<!ELEMENT prod (cProd,cEAN,xProd,NCM,NVE*,(CEST,indEscala?,CNPJFab?)?,cBenef?,EXTIPI?,CFOP,uCom,qCom,vUnCom,vProd,cEANTrib,uTrib,qTrib,vUnTrib,vFrete?,vSeg?,vDesc?,vOutro?,indTot,DI*,detExport*,xPed?,nItemPed?,nFCI?,rastro*,(veicProd|med|arma+|comb|nRECOPI)?)>
<!ELEMENT cProd (#PCDATA)>
<!ELEMENT cEAN (#PCDATA)>
<!ELEMENT xProd (#PCDATA)>
<!ELEMENT NCM (#PCDATA)>
<!ELEMENT NVE (#PCDATA)>
<!ELEMENT CEST (#PCDATA)>
<!ELEMENT indEscala (#PCDATA)>
<!ELEMENT CNPJFab (#PCDATA)>
<!ELEMENT cBenef (#PCDATA)>
<!ELEMENT EXTIPI (#PCDATA)>
<!ELEMENT uCom (#PCDATA)>
<!ELEMENT qCom (#PCDATA)>
<!ELEMENT vUnCom (#PCDATA)>
<!ELEMENT cEANTrib (#PCDATA)>
<!ELEMENT uTrib (#PCDATA)>
<!ELEMENT qTrib (#PCDATA)>
<!ELEMENT vUnTrib (#PCDATA)>
<!ELEMENT indTot (#PCDATA)>
<!ELEMENT DI (nDI,dDI,xLocDesemb,UFDesemb,dDesemb,tpViaTransp,vAFRMM?,tpIntermedio,CNPJ?,UFTerceiro?,cExportador,adi+)>
<!ELEMENT nDI (#PCDATA)>
<!ELEMENT dDI (#PCDATA)>
<!ELEMENT xLocDesemb (#PCDATA)>
<!ELEMENT UFDesemb (#PCDATA)>
<!ELEMENT dDesemb (#PCDATA)>
<!ELEMENT tpViaTransp (#PCDATA)>
<!ELEMENT vAFRMM (#PCDATA)>
<!ELEMENT tpIntermedio (#PCDATA)>
<!ELEMENT UFTerceiro (#PCDATA)>
<!ELEMENT cExportador (#PCDATA)>
<!ELEMENT adi (nAdicao,nSeqAdic,cFabricante,vDescDI?,nDraw?)>
<!ELEMENT nAdicao (#PCDATA)>
<!ELEMENT nSeqAdic (#PCDATA)>
<!ELEMENT cFabricante (#PCDATA)>
<!ELEMENT vDescDI (#PCDATA)>
<!ELEMENT detExport (nDraw?,exportInd?)>
<!ELEMENT nDraw (#PCDATA)>
<!ELEMENT exportInd (nRE,chNFe,qExport)>
<!ELEMENT nRE (#PCDATA)>
<!ELEMENT qExport (#PCDATA)>
<!ELEMENT xPed (#PCDATA)>
<!ELEMENT nItemPed (#PCDATA)>
<!ELEMENT nFCI (#PCDATA)>
<!ELEMENT rastro (nLote,qLote,dFab,dVal,cAgreg?)>
<!ELEMENT nLote (#PCDATA)>
<!ELEMENT qLote (#PCDATA)>
<!ELEMENT dFab (#PCDATA)>
<!ELEMENT dVal (#PCDATA)>
<!ELEMENT cAgreg (#PCDATA)>
<!ELEMENT veicProd (tpOp,chassi,cCor,xCor,pot,cilin,pesoL,pesoB,nSerie,tpComb,nMotor,CMT,dist,anoMod,anoFab,tpPint,tpVeic,espVeic,VIN,condVeic,cMod,cCorDENATRAN,lota,tpRest)>
<!ELEMENT tpOp (#PCDATA)>
<!ELEMENT chassi (#PCDATA)>
<!ELEMENT cCor (#PCDATA)>
<!ELEMENT xCor (#PCDATA)>
<!ELEMENT pot (#PCDATA)>
<!ELEMENT cilin (#PCDATA)>
<!ELEMENT pesoL (#PCDATA)>
<!ELEMENT pesoB (#PCDATA)>
<!ELEMENT tpComb (#PCDATA)>
<!ELEMENT nMotor (#PCDATA)>
<!ELEMENT CMT (#PCDATA)>
<!ELEMENT dist (#PCDATA)>
<!ELEMENT anoMod (#PCDATA)>
<!ELEMENT anoFab (#PCDATA)>
<!ELEMENT tpPint (#PCDATA)>
<!ELEMENT tpVeic (#PCDATA)>
<!ELEMENT espVeic (#PCDATA)>
<!ELEMENT VIN (#PCDATA)>
<!ELEMENT condVeic (#PCDATA)>
<!ELEMENT cMod (#PCDATA)>
<!ELEMENT cCorDENATRAN (#PCDATA)>
<!ELEMENT lota (#PCDATA)>
<!ELEMENT tpRest (#PCDATA)>
<!ELEMENT med (cProdANVISA,vPMC)>
<!ELEMENT cProdANVISA (#PCDATA)>
<!ELEMENT vPMC (#PCDATA)>
<!ELEMENT arma (tpArma,nSerie,nCano,descr)>
<!ELEMENT tpArma (#PCDATA)>
<!ELEMENT nSerie (#PCDATA)>
<!ELEMENT nCano (#PCDATA)>
<!ELEMENT descr (#PCDATA)>
<!ELEMENT comb (cProdANP,descANP,pGLP?,pGNn?,pGNi?,vPart?,CODIF?,qTemp?,UFCons,CIDE?,encerrante?)>
<!ELEMENT cProdANP (#PCDATA)>
<!ELEMENT descANP (#PCDATA)>
<!ELEMENT pGLP (#PCDATA)>
<!ELEMENT pGNn (#PCDATA)>
<!ELEMENT pGNi (#PCDATA)>
<!ELEMENT vPart (#PCDATA)>
<!ELEMENT CODIF (#PCDATA)>
<!ELEMENT qTemp (#PCDATA)>
<!ELEMENT UFCons (#PCDATA)>
<!ELEMENT CIDE (qBCProd,vAliqProd,vCIDE)>
<!ELEMENT qBCProd (#PCDATA)>
<!ELEMENT vAliqProd (#PCDATA)>
<!ELEMENT vCIDE (#PCDATA)>
<!ELEMENT encerrante (nBico,nBomba?,nTanque,vEncIni,vEncFin)>
<!ELEMENT nBico (#PCDATA)>
<!ELEMENT nBomba (#PCDATA)>
<!ELEMENT nTanque (#PCDATA)>
<!ELEMENT vEncIni (#PCDATA)>
<!ELEMENT vEncFin (#PCDATA)>
<!ELEMENT nRECOPI (#PCDATA)>
<!ELEMENT imposto (vTotTrib?,PIS?,PISST?,COFINS?,COFINSST?,ICMSUFDest?)>
<!ELEMENT PIS EMPTY>
<!ELEMENT PISST (vPIS)>
<!ELEMENT vPIS (#PCDATA)>
<!ELEMENT COFINS EMPTY>
<!ELEMENT COFINSST (vCOFINS)>
<!ELEMENT vCOFINS (#PCDATA)>
<!ELEMENT ICMSUFDest (vBCUFDest,pFCPUFDest,pICMSUFDest,pICMSInter,pICMSInterPart,vFCPUFDest,vICMSUFDest,vICMSUFRemet)>
<!ELEMENT vBCUFDest (#PCDATA)>
<!ELEMENT pFCPUFDest (#PCDATA)>
<!ELEMENT pICMSUFDest (#PCDATA)>
<!ELEMENT pICMSInter (#PCDATA)>
<!ELEMENT pICMSInterPart (#PCDATA)>
<!ELEMENT impostoDevol (pDevol,IPI)>
<!ELEMENT pDevol (#PCDATA)>
<!ELEMENT IPI (vIPIDevol)>
<!ELEMENT infAdProd (#PCDATA)>
<!ELEMENT total (ICMSTot,ISSQNtot?,retTrib?)>
<!ELEMENT ICMSTot (vBC,vICMS,vICMSDeson,vFCPUFDest?,vICMSUFDest?,vICMSUFRemet?,vFCP,vBCST,vST,vFCPST,vFCPSTRet,vProd,vFrete,vSeg,vDesc,vII,vIPI,vIPIDevol,vPIS,vCOFINS,vOutro,vNF,vTotTrib?)>
<!ELEMENT vBC (#PCDATA)>
<!ELEMENT vICMS (#PCDATA)>
<!ELEMENT vICMSDeson (#PCDATA)>
<!ELEMENT vFCPUFDest (#PCDATA)>
<!ELEMENT vICMSUFDest (#PCDATA)>
<!ELEMENT vICMSUFRemet (#PCDATA)>
<!ELEMENT vFCP (#PCDATA)>
<!ELEMENT vBCST (#PCDATA)>
<!ELEMENT vST (#PCDATA)>
<!ELEMENT vFCPST (#PCDATA)>
<!ELEMENT vFCPSTRet (#PCDATA)>
<!ELEMENT vProd (#PCDATA)>
<!ELEMENT vFrete (#PCDATA)>
<!ELEMENT vSeg (#PCDATA)>
<!ELEMENT vDesc (#PCDATA)>
<!ELEMENT vII (#PCDATA)>
<!ELEMENT vIPI (#PCDATA)>
<!ELEMENT vIPIDevol (#PCDATA)>
<!ELEMENT vOutro (#PCDATA)>
<!ELEMENT vNF (#PCDATA)>
<!ELEMENT vTotTrib (#PCDATA)>
<!ELEMENT ISSQNtot (vServ?,vBC?,vISS?,vPIS?,vCOFINS?,dCompet,vDeducao?,vOutro?,vDescIncond?,vDescCond?,vISSRet?,cRegTrib?)>
<!ELEMENT vISS (#PCDATA)>
<!ELEMENT dCompet (#PCDATA)>
<!ELEMENT vDeducao (#PCDATA)>
<!ELEMENT vDescIncond (#PCDATA)>
<!ELEMENT vDescCond (#PCDATA)>
<!ELEMENT vISSRet (#PCDATA)>
<!ELEMENT cRegTrib (#PCDATA)>
<!ELEMENT retTrib (vRetPIS?,vRetCOFINS?,vRetCSLL?,vBCIRRF?,vIRRF?,vBCRetPrev?,vRetPrev?)>
<!ELEMENT vRetPIS (#PCDATA)>
<!ELEMENT vRetCOFINS (#PCDATA)>
<!ELEMENT vRetCSLL (#PCDATA)>
<!ELEMENT vBCIRRF (#PCDATA)>
<!ELEMENT vIRRF (#PCDATA)>
<!ELEMENT vBCRetPrev (#PCDATA)>
<!ELEMENT vRetPrev (#PCDATA)>
<!ELEMENT transp (modFrete,transporta?,retTransp?,((veicTransp?,reboque*)?|vagao?|balsa?),vol*)>
<!ELEMENT modFrete (#PCDATA)>
<!ELEMENT transporta ((CNPJ|CPF)?,xNome?,IE?,xEnder?,xMun?,UF?)>
<!ELEMENT CPF (#PCDATA)>
<!ELEMENT xNome (#PCDATA)>
<!ELEMENT xEnder (#PCDATA)>
<!ELEMENT xMun (#PCDATA)>
<!ELEMENT retTransp (vServ,vBCRet,pICMSRet,vICMSRet,CFOP,cMunFG)>
<!ELEMENT vServ (#PCDATA)>
<!ELEMENT vBCRet (#PCDATA)>
<!ELEMENT pICMSRet (#PCDATA)>
<!ELEMENT vICMSRet (#PCDATA)>
<!ELEMENT CFOP (#PCDATA)>
<!ELEMENT cMunFG (#PCDATA)>
<!ELEMENT veicTransp (placa,UF,RNTC?)>
<!ELEMENT reboque (placa,UF,RNTC?)>
<!ELEMENT placa (#PCDATA)>
<!ELEMENT RNTC (#PCDATA)>
<!ELEMENT vagao (#PCDATA)>
<!ELEMENT balsa (#PCDATA)>
<!ELEMENT vol (qVol?,esp?,marca?,nVol?,pesoL?,pesoB?,lacres*)>
<!ELEMENT qVol (#PCDATA)>
<!ELEMENT esp (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT nVol (#PCDATA)>
<!ELEMENT lacres (nLacre)>
<!ELEMENT nLacre (#PCDATA)>
<!ELEMENT cobr EMPTY>
<!ELEMENT pag (detPag+)>
<!ELEMENT detPag (tPag,vPag)>
<!ELEMENT tPag (#PCDATA)>
<!ELEMENT vPag (#PCDATA)>
<!ELEMENT infAdic (infCpl?,obsCont?,infAdFisco?)>
<!ELEMENT infCpl (#PCDATA)>
<!ELEMENT obsCont (xTexto)>
<!ATTLIST obsCont xCampo CDATA #REQUIRED> 
<!ELEMENT xTexto (#PCDATA)>
<!ELEMENT infAdFisco (#PCDATA)>
<!ELEMENT exporta (UFSaidaPais,xLocExporta)>
<!ELEMENT UFSaidaPais (#PCDATA)>
<!ELEMENT xLocExporta (#PCDATA)>
<!ELEMENT compra EMPTY>
<!ELEMENT cana (safra,ref,forDia+,qTotMes,qTotAnt,qTotGer,vFor,vTotDed,vLiqFor)>
<!ELEMENT safra (#PCDATA)>
<!ELEMENT ref (#PCDATA)>
<!ELEMENT forDia (qtde)>
<!ATTLIST forDia dia CDATA #REQUIRED>
<!ELEMENT qtde (#PCDATA)>
<!ELEMENT qTotMes (#PCDATA)>
<!ELEMENT qTotAnt (#PCDATA)>
<!ELEMENT qTotGer (#PCDATA)>
<!ELEMENT vFor (#PCDATA)>
<!ELEMENT vTotDed (#PCDATA)>
<!ELEMENT vLiqFor (#PCDATA)>
<!ELEMENT infNFeSupl (qrCode,urlChave)>
<!ELEMENT qrCode (#PCDATA)>
<!ELEMENT urlChave (#PCDATA)>
<!ELEMENT protNFe (infProt,ds:Signature?)>
<!ATTLIST protNFe versao CDATA #REQUIRED>
<!ELEMENT infProt (tpAmb,verAplic,chNFe,dhRecbto,nProt?,digVal?,cStat,xMotivo)>
<!ATTLIST infProt Id CDATA #IMPLIED>
<!ELEMENT tpAmb (#PCDATA)>
<!ELEMENT verAplic (#PCDATA)>
<!ELEMENT chNFe (#PCDATA)>
<!ELEMENT dhRecbto (#PCDATA)>
<!ELEMENT nProt (#PCDATA)>
<!ELEMENT digVal (#PCDATA)>
<!ELEMENT cStat (#PCDATA)>
<!ELEMENT xMotivo (#PCDATA)>
<!ELEMENT ds:Signature (ds:SignedInfo|ds:SignatureValue|ds:KeyInfo)*>
<!ELEMENT ds:SignedInfo (ds:CanonicalizationMethod,ds:SignatureMethod,ds:Reference)>
<!ELEMENT ds:CanonicalizationMethod EMPTY>
<!ATTLIST ds:CanonicalizationMethod Algorithm CDATA #REQUIRED>
<!ELEMENT ds:SignatureMethod EMPTY>
<!ATTLIST ds:SignatureMethod Algorithm CDATA #REQUIRED>
<!ELEMENT ds:Reference (ds:Transforms,ds:DigestMethod,ds:DigestValue)>
<!ATTLIST ds:Reference URI CDATA #REQUIRED>
<!ELEMENT ds:Transforms (ds:Transform+)>
<!ELEMENT ds:Transform EMPTY>
<!ATTLIST ds:Transform Algorithm CDATA #REQUIRED>
<!ELEMENT ds:DigestMethod EMPTY>
<!ATTLIST ds:DigestMethod Algorithm CDATA #REQUIRED>
<!ELEMENT ds:DigestValue (#PCDATA)>
<!ELEMENT ds:SignatureValue (#PCDATA)>
<!ELEMENT ds:KeyInfo (ds:X509Data)>
<!ELEMENT ds:X509Data (ds:X509Certificate)>
<!ELEMENT ds:X509Certificate (#PCDATA)>
