PTDF/XML/PTDF/M30_V1.5.xsd

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Influe Portugal, Sistemas de Informação, S.A. (Influe Portugal, Sistemas de Informação, S.A.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="MESSAGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PRODUCT" maxOccurs="10000">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TRTEXC">
								<xs:annotation>
									<xs:documentation>motion processing codes</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODACT">
								<xs:annotation>
									<xs:documentation>Code logistics business / BV</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODPRO">
								<xs:annotation>
									<xs:documentation>Internal number / BV</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VALPRO">
								<xs:annotation>
									<xs:documentation>Alternatively logistics / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DS1PRO">
								<xs:annotation>
									<xs:documentation>Line 1 of the product designation / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DS2PRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Line 2 of the product designation / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FOUPRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>supplier number / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VAPPRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Alternative supply / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FAMPRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Classification Family Product / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ANAPRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Code analysis of the product / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EDIPRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Product code for E.D.I. / BV</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SPCPRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Sub by how the product / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="4"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PCBPRO">
								<xs:annotation>
									<xs:documentation>By how the product / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="5"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UNIPRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Unit for measuring the product / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MESPRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Method of measuring the product / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PDBUVC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>gross weight of the UVC kg / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="7"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PDNUVC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Net weight of UVC in kg / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="7"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="HAUUVC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Height in cm UVC / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LNGUVC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Length of UVC in cm / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LRGUVC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Width in cm UVC / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PDBCOL">
								<xs:annotation>
									<xs:documentation>Gross weight in Kg / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="7"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="HAUCOL">
								<xs:annotation>
									<xs:documentation>Height of the package in cm / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LNGCOL">
								<xs:annotation>
									<xs:documentation>Length of parcel in cm / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LRGCOL">
								<xs:annotation>
									<xs:documentation>Width of the parcel in cm / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="COLCOU">
								<xs:annotation>
									<xs:documentation>Number of packages per layer / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="COUPAL">
								<xs:annotation>
									<xs:documentation>Number of layers per pallet / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="8"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GERPAL" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Number of gerbages for storage / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="GERHAU" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Number of pallets stacked height</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="2"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="HAUCOU" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Layer height in cm / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODEMB" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Code Package handling / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ABCPRO" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Rotation Class ABC Product / B</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODMDR" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Method for receiving goods / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MODREC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>reception mode (bulk or pallet) / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NBJDLV" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Number of days of SLD / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MOTIMM" minOccurs="0">
								<xs:annotation>
									<xs:documentation>immobilization pattern storage / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODMDS" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Code storage method / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ZONPRF" minOccurs="0">
								<xs:annotation>
									<xs:documentation>preferential storage area / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ALLPRF" minOccurs="0">
								<xs:annotation>
									<xs:documentation>preferred storage aisle / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ABCSTS" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Storage class / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODADM" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Method storage sheaves / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="HOMGRB" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Type of homogeneity of a wreath / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PERGRB" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Period of homogeneity of the sheaf / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODMDP" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Method process for preparing / V</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TOPPRN" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicator compound or product unit</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="1"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="COMPLEMENT_01" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="INDPRO" minOccurs="0">
											<xs:annotation>
												<xs:documentation>10 settable indicators products / BV</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODMRQ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>brand code Manufacturer / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DESFOU" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Product designation from the supplier / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CIRDET" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Circuit preparation "without picking" / V</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CIRPAL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Circuit preparation pallets / V</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="METRPL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>replacement method Product / V</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODRPL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Product code replacement / V</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VALRPL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>V.L. the substitute / V</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODALC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Governance Code alcohols / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DEGALC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Degree of pure alcohol / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VOLALC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Volume drink / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODMDG" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code method benefits management / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TAUPST" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Rate of benefit / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COELOG" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Coefficient logistics / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PRXPRO" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Product Price / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="36"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODMDI" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Method inventory rotating / V</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NXTIVT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Date of next inventory Product / V</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SECSTK" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Safety Stock UVC / V</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODMDF" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Method of manufacturing processes / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FMTFAB" minOccurs="0">
											<xs:annotation>
												<xs:documentation>manufacturing format Product / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ACTFAB" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Activity after manufacturing process / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODFAB" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code of the product after manufacture / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VRAFAB" minOccurs="0">
											<xs:annotation>
												<xs:documentation>manufactured product code (for statistics) / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VALFAB" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Alternatively logistics (EAN) manufacturing</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODZVI" minOccurs="0">
											<xs:annotation>
												<xs:documentation>wine production area code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODEAP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Packing code associated with the product</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TOPCNA" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Products subject to the alcohol tax for the CNAMTS</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="COMPLEMENT_02" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CODTMD" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Transportation Code Hazardous Materials</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODSEC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Security code (Hazardous Materials)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODSPE" minOccurs="0">
											<xs:annotation>
												<xs:documentation>returnable product</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UNIFAC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Calculation unit</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COEFAC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Coefficient billing</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SECDLV" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Number of safety days in addition to the DLV</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODRGP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>product grouping code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODRSC">
											<xs:annotation>
												<xs:documentation>Product Risk Model Code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PROEAP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Packaging code associated interface</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VTLPRO" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indicator product to ventilate</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CIRVTL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ventilation system code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="INFEXP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Stock Number (Customs Alcohol)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODMTR" minOccurs="0">
											<xs:annotation>
												<xs:documentation>material accounting</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TEMPRE" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Recommended temperature for the product</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="QTELOT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Quantity for the management of batch size</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UNILOT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Unit for the Management of batch size</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UNIARR" minOccurs="0">
											<xs:annotation>
												<xs:documentation>rounding upper unit</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UNICAL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>qties calculating unit hazardous materials</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TEMMIN" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Low</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TEMMAX" minOccurs="0">
											<xs:annotation>
												<xs:documentation>High:</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TOLPOI" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Tolerance deviation modification of the package weight</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COECOL">
											<xs:annotation>
												<xs:documentation>Coefficient of expansion package</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COESPC">
											<xs:annotation>
												<xs:documentation>expansion coefficient of the SPCB</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COEUVC">
											<xs:annotation>
												<xs:documentation>UVC's coefficient of expansion</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="INDTOL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indicator of product weight tolerance</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HAUSPC">
											<xs:annotation>
												<xs:documentation>Height SPCB</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LNGSPC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>SPCB length in cm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LRGSPC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>SPCB width in cm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PDBSPC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Gross weight in Kg SPCB</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="7"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODMDT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code tracking method</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ETIMTR" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Labeling Code of matter</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODPHR" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code-phrase</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NBJFVI" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Product life</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODGAM" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code of the operating range</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODQLP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code qualifying product</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EMBCLQ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Package Type SQ</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CTRPRP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Controlling the amount in preparation</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODRDS" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code on the restriction of storage</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HAUCOL2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Height of the package in cm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HAUCOU2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Layer height in cm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HAUSPC2">
											<xs:annotation>
												<xs:documentation>Height SPCB</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HAUUVC2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Height in cm UVC</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LNGCOL2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Length of parcel in cm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LNGSPC2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>SPCB length in cm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LNGUVC2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Length of UVC in cm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LRGCOL2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Width of the parcel in cm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LRGSPC2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>SPCB width in cm</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LRGUVC2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Width in cm UVC</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODMNN" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code handling rule</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EAN" minOccurs="0" maxOccurs="100">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DS1PRO">
											<xs:annotation>
												<xs:documentation>Line 1 of the product designation / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EDIPRO" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Product code for E.D.I. / BV</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EANDS1" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Designation related EAN</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EDIPRM" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Identification code of the primary EDI</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EDIQLF" minOccurs="0">
											<xs:annotation>
												<xs:documentation>EDI qualifier code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EANVTE" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Ean sale</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="LANGUAGE" minOccurs="0" maxOccurs="5">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CODLGE" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code language or dialect</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DS1PRO">
											<xs:annotation>
												<xs:documentation>Line 1 of the product designation / B</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DS2PRO" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Line 2 of the product name</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DESPRO">
											<xs:annotation>
												<xs:documentation>Lines of product designation</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="70"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RUBRIC" minOccurs="0" maxOccurs="100">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TYPRUB">
											<xs:annotation>
												<xs:documentation>Field Type</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODRUB">
											<xs:annotation>
												<xs:documentation>Code of item</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VALRUB">
											<xs:annotation>
												<xs:documentation>Value of an item traceability</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="175"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="COMPONENT" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CODPRN">
											<xs:annotation>
												<xs:documentation>Code produit d'une nomenclature</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CODPRO">
											<xs:annotation>
												<xs:documentation>Code interne du produit du composant</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="VALPRO">
											<xs:annotation>
												<xs:documentation>Variante logistique du composant</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NBRCPS">
											<xs:annotation>
												<xs:documentation>Nombre de composants </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ACTCPS">
											<xs:annotation>
												<xs:documentation>Code activité du composant </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ORDCPS">
											<xs:annotation>
												<xs:documentation>Numéro d'ordre du composant</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TYPCPS">
											<xs:annotation>
												<xs:documentation>Indicateur de composant principal</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DVSCPS">
											<xs:annotation>
												<xs:documentation>Diviseur du nombre de composants nécessaires</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="UNIPRN">
											<xs:annotation>
												<xs:documentation>Unité produite avec le composant</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
