PTDF/XML/PTDF/M41_V1.5.xsd

<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Influe Portugal, Sistemas de Informação, S.A. (Influe Portugal, Sistemas de Informação, S.A.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="MESSAGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RECEPTION_CONFIRMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="HEADER">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TRTEXC">
											<xs:annotation>
												<xs:documentation>motion processing codes</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUMREC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Number of the currently tuned control</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SNUREC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Sub-order number to receive</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="REFREC">
											<xs:annotation>
												<xs:documentation>Reference reception</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="30"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODAPP">
											<xs:annotation>
												<xs:documentation>Code of the feeder</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODLDR">
											<xs:annotation>
												<xs:documentation>Code of the place of receipt of goods</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODTRE">
											<xs:annotation>
												<xs:documentation>Model Code reception</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ORICDE">
											<xs:annotation>
												<xs:documentation>Origin of the order</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODACT">
											<xs:annotation>
												<xs:documentation>Code logistics business</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODFOU">
											<xs:annotation>
												<xs:documentation>Supplier code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="14"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODTRA">
											<xs:annotation>
												<xs:documentation>Carrier Code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="14"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DTIREC">
											<xs:annotation>
												<xs:documentation>Reception date originally scheduled</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HEIREC">
											<xs:annotation>
												<xs:documentation>Scheduled time for reception</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DTMREC">
											<xs:annotation>
												<xs:documentation>Date received modified (replanning)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HEMREC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>receiving modified time (replanning)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DTRREC">
											<xs:annotation>
												<xs:documentation>Date of actual receipt</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HERREC">
											<xs:annotation>
												<xs:documentation>actual time of receipt</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="KAIREC">
											<xs:annotation>
												<xs:documentation>the merchandise receiving dock</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CTRREC">
											<xs:annotation>
												<xs:documentation>Control No. of reception</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="REFCNT">
											<xs:annotation>
												<xs:documentation>Area obsolete replaced by CODCNT</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CMTREC">
											<xs:annotation>
												<xs:documentation>Comments for reserves reception</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="60"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DATRLQ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Date for receiving the remainder</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODACR" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Cancellation status of a command to receive</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NATREC">
											<xs:annotation>
												<xs:documentation>Nature of receiving stream</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EDIFOU">
											<xs:annotation>
												<xs:documentation>Supplier code for E.D.I.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="14"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODCNT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code containing (Ex: No. Wagon, No. container)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="14"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TYPRMT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Type lift</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COMPLEMENT_01" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DIPREC" type="xs:string"/>
													<xs:element name="TOPREC" type="xs:string"/>
													<xs:element name="DATBDR" type="xs:string" minOccurs="0"/>
													<xs:element name="EDIACT" type="xs:string"/>
													<xs:element name="EDITRA" type="xs:string" minOccurs="0"/>
													<xs:element name="DATBDL" type="xs:string" minOccurs="0"/>
													<xs:element name="CODTDD" type="xs:string" minOccurs="0"/>
													<xs:element name="NUMMTR" type="xs:string" minOccurs="0"/>
													<xs:element name="NUMTOU" type="xs:string" minOccurs="0"/>
													<xs:element name="CODRCN" type="xs:string" minOccurs="0"/>
													<xs:element name="RCTSAP" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RUBRIC" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CODRUB" type="xs:string"/>
													<xs:element name="VALRUB" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ITEM" maxOccurs="1000000">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NLIREC">
											<xs:annotation>
												<xs:documentation>Number of the line to receive interface</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODCLI" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code of customer Owner stock</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="14"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODPRO">
											<xs:annotation>
												<xs:documentation>Internal product code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VALPRO">
											<xs:annotation>
												<xs:documentation>variant logistics</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UVCREA">
											<xs:annotation>
												<xs:documentation>Number of replenished units (ordered)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UNICDE">
											<xs:annotation>
												<xs:documentation>input unit quantities</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODPRN">
											<xs:annotation>
												<xs:documentation>Product code of nomenclature</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TYPOPE">
											<xs:annotation>
												<xs:documentation>Type of transaction (eg promotion, booking)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUMOPE" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Operation Number (Promo or booking)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODACR">
											<xs:annotation>
												<xs:documentation>the command line cancellation code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UVCREC">
											<xs:annotation>
												<xs:documentation>Total U.V.C. réceptionnées</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UVCGRA">
											<xs:annotation>
												<xs:documentation>Including: U.V.C. Free réceptionnées</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UVCIMM">
											<xs:annotation>
												<xs:documentation>Total U.V.C. immobilized</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MOTIMM">
											<xs:annotation>
												<xs:documentation>Capital pattern (Table "IMO")</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UVCRFU">
											<xs:annotation>
												<xs:documentation>Number of U.V.C. refused when receiving</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MOTRFU">
											<xs:annotation>
												<xs:documentation>Reason for refusal of approval</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="UVCRLQ">
											<xs:annotation>
												<xs:documentation>Number of U.V.C. in balance</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DATFVI" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Date of end of life of the product (obsolescence)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MESPRO">
											<xs:annotation>
												<xs:documentation>Product measurement method</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PDNREC">
											<xs:annotation>
												<xs:documentation>received net weight (Valuation pro forma)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="11"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DATFAB" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Date of manufacture</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="8"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODLOT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code received lot</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUMLOT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Internal number of commodity lot</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="9"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RECSOL" minOccurs="0">
											<xs:annotation>
												<xs:documentation>receiving line indicator ended</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODMTR" minOccurs="0">
											<xs:annotation>
												<xs:documentation>material accounting</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="INDPRO" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indicators Configurable Product</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PCBPRO" minOccurs="0">
											<xs:annotation>
												<xs:documentation>For how much of the product</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>										
										<xs:element name="COMPLEMENT_01">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DIPREC">
														<xs:annotation>
															<xs:documentation>Data transit zone between software</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="TOPREC">
														<xs:annotation>
															<xs:documentation>Indicators for specific users</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="5"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PRXPRO" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Product Price</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="9"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EDIPRO" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Product code for E.D.I.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="17"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EDICLI">
														<xs:annotation>
															<xs:documentation>Customer code for E.D.I.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="14"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="UVCPRE" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Number of pre-U.V.C réceptionnées (Ex Alcohols)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="9"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="UNIREC">
														<xs:annotation>
															<xs:documentation>input unit quantities received</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="QTEUOM" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Number of work handling units</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="9"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CODTDD" minOccurs="0">
														<xs:annotation>
															<xs:documentation>symbolic Document Code</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NUMMTR" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Number of material accounting</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SENPDS" type="xs:string" minOccurs="0"/>
													<xs:element name="ECAPDS" type="xs:string" minOccurs="0"/>
													<xs:element name="TYPPRX" type="xs:string" minOccurs="0"/>
													<xs:element name="REFLIV" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DETAIL" minOccurs="0" maxOccurs="1000000">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="UVCMVT">
														<xs:annotation>
															<xs:documentation>Number of U.V.C. réceptionnées on the pallet</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="9"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SPCPRO">
														<xs:annotation>
															<xs:documentation>Sub by how much of the product</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="4"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PCBPRO">
														<xs:annotation>
															<xs:documentation>For how much of the product</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="5"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CODLOT">
														<xs:annotation>
															<xs:documentation>Batch code stored</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NUMLOT">
														<xs:annotation>
															<xs:documentation>Internal number of commodity lot</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="9"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CODNDS">
														<xs:annotation>
															<xs:documentation>Consolidation of the serial number</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DATFAB">
														<xs:annotation>
															<xs:documentation>Date of manufacture</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DATFVI">
														<xs:annotation>
															<xs:documentation>Date of end of life of the product (obsolescence)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="8"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CODPAL">
														<xs:annotation>
															<xs:documentation>Code of the pallet stored standards EAN128</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="18"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MOTIMM">
														<xs:annotation>
															<xs:documentation>immobilization Reason</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DATIMM">
														<xs:annotation>
															<xs:documentation>Dates of start and end of immobilization</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="16"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="HEUIMM">
														<xs:annotation>
															<xs:documentation>Start times and end immobilizer</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="12"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CODSIT">
														<xs:annotation>
															<xs:documentation>Code storage site</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ZONSTS">
														<xs:annotation>
															<xs:documentation>warehouse storage area</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ALLSTS">
														<xs:annotation>
															<xs:documentation>Code of the aisle in area</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DPLSTS">
														<xs:annotation>
															<xs:documentation>location shift in the driveway</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="4"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NIVSTS">
														<xs:annotation>
															<xs:documentation>location level in the column</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="2"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CODACT">
														<xs:annotation>
															<xs:documentation>Code logistics business</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CODCLI">
														<xs:annotation>
															<xs:documentation>Code of customer Owner stock</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="14"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CODPRO">
														<xs:annotation>
															<xs:documentation>Internal product code</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="17"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="VALPRO" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Alternatively logistics (EAN)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="2"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PRXPRO" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Product Price</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="9"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PDBPAL" minOccurs="0">
														<xs:annotation>
															<xs:documentation>gross weight of the pallet in Kg</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="7"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PDNREC" minOccurs="0">
														<xs:annotation>
															<xs:documentation>received net weight (Valuation pro forma)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="7"/>
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SERIAL_INFO" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SERIAL" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CODSER" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Main serial number</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="30"/>
																						<xs:minLength value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="SNUSER" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Serial submumber</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="3"/>
																						<xs:minLength value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="NUMPAL">
																				<xs:annotation>
																					<xs:documentation>Stored palette number</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="9"/>
																						<xs:minLength value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="SNUPAL">
																				<xs:annotation>
																					<xs:documentation>Sub-numéro of the stored palette</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="2"/>
																						<xs:minLength value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="NUMSER" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Serial number</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:maxLength value="9"/>
																						<xs:minLength value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
