FM/Config/XML/FMBrasil/VEJA/VEJA_M40.dtd

<!ELEMENT receiving_advice (receiving_advice_header)*>
	<!ELEMENT receiving_advice_header (warehouse,ra_number,receiving_reference,expected_arrival_date,custom_properties,receiving_advice_body)*>
		<!ELEMENT warehouse (#PCDATA)>
		<!ELEMENT ra_number (#PCDATA)>
		<!ELEMENT receiving_reference (#PCDATA)>
		<!ELEMENT expected_arrival_date (#PCDATA)>
		<!ELEMENT cancel (#PCDATA)>
		<!ELEMENT custom_properties (custom_property)*>
			<!ELEMENT custom_property (name,value)*>
				<!ELEMENT name (#PCDATA)>
				<!ELEMENT value (#PCDATA)>
		<!ELEMENT receiving_advice_body (pieces,boxes)*>
			<!ELEMENT pieces (sku)*>
				<!ELEMENT sku (barcode_sku,qty,slot,order_line)*>
					<!ELEMENT barcode_sku (#PCDATA)>
					<!ELEMENT qty (#PCDATA)>
					<!ELEMENT slot (#PCDATA)>
					<!ELEMENT order_line (primary_reference,quantity)*>
						<!ELEMENT primary_reference (#PCDATA)>
						<!ELEMENT quantity (#PCDATA)>
			<!ELEMENT boxes (carton)*>
				<!ELEMENT carton (carton_type,carton_number,skus)*>
					<!ELEMENT carton_type (#PCDATA)>
					<!ELEMENT carton_number (#PCDATA)>
					<!ELEMENT skus (sku)*>
						<!ELEMENT sku (barcode_sku,qty,slot,order_line)*>
							<!ELEMENT barcode_sku (#PCDATA)>
							<!ELEMENT qty (#PCDATA)>
							<!ELEMENT slot (#PCDATA)>
							<!ELEMENT order_line (primary_reference2,quantity)*>
								<!ELEMENT primary_reference (#PCDATA)>
								<!ELEMENT quantity (#PCDATA)>