FM/Config/XML/FMBrasil/VEJA/VEJA_M62.dtd

<!ELEMENT PICKTICKET (PICKTICKET_HEADER)*>
<!ELEMENT PICKTICKET_HEADER (WAREHOUSE|PICKING_REFERENCE|SERVICE_INVOICE_NUMBER|SERVICE_INVOICE_DATE|ORDER_REFERENCE_PREFIX|LOCK_TYPE)*>
<!ELEMENT WAREHOUSE (#PCDATA)>
<!ELEMENT PICKING_REFERENCE (#PCDATA)>
<!ELEMENT SERVICE_INVOICE_NUMBER (#PCDATA)>
<!ELEMENT SERVICE_INVOICE_DATE (#PCDATA)>
<!ELEMENT ORDER_REFERENCE_PREFIX (#PCDATA)>
<!ELEMENT LOCK_TYPE (#PCDATA)>